body, html{

	min-height: 100vh;
}

body{

	background: rgb(31,35,60);
	background: -moz-linear-gradient(top,  rgba(31,35,60,1) 0%, rgba(67,71,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,35,60,1)), color-stop(100%,rgba(67,71,147,1)));
	background: -webkit-linear-gradient(top,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
	background: -o-linear-gradient(top,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
	background: -ms-linear-gradient(top,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
	background: linear-gradient(to bottom,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f233c', endColorstr='#434793',GradientType=0 );

}

#top-header {
	margin-bottom: 100px;

}

#top-nav ul{
	list-style-type: none;
	float: right;
	margin-top: 40px;
}

#top-nav li{
	display: inline-block;

}

#li-home{
	margin-right: 25px;
}

#li-about{
	margin-right: 25px;
}

#title {
/*	font-family: "futura-pt-bold", sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    padding-left: 10px;
    color: white;
}

#top-nav {
	font-family: "futura-pt", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6em;

}

#canvas {
	max-width: 1200px;
    margin: 5px auto;
    padding: 75px;
}

#authorize-section{
	text-align: center;
	padding-top: 200px;

}

#authorize-button {
	font-family: 'Roboto', sans-serif;
    text-align: center;
	letter-spacing:1px;
	cursor: pointer;
	margin-left: 10px;
	height: 65px;

	color:#4cc2c4;
	background: transparent;
	width: 150px;
	border: 2px solid #4cc2c4;
	border-radius:40px;
	font-size: 16px;
}

#authorize-button:hover{
    color: white;
    background: #4cc2c4;
}



#apiCall {
	font-family: 'Roboto', sans-serif;
    text-align: center;
	letter-spacing:1px;
	cursor: pointer;
	margin-left: 10px;
	height: 65px;

	color:#f54785;
	background: transparent;
	width: 150px;
	border: 2px solid #f54785;
	border-radius:40px;
	font-size: 16px;
}

#apiCall:hover{
    color: white;
    background: #f54785;
}

#submit-sleep{
	font-family: 'Roboto', sans-serif;
    text-align: center;
	letter-spacing:1px;
	cursor: pointer;
	margin-left: 10px;
	height: 45px;

	color:#4cc2c4;
	background: transparent;
	width: 150px;
	border: 2px solid #4cc2c4;
	border-radius:40px;
	font-size: 16px;
}

#submit-sleep:hover{
    color: white;
    background: #4cc2c4;
}

/*Sleep Input*/

#input-sleep-date{
	background-color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #575757;
    outline: none;
    display: inline-block;
    width: 200px;
    text-align: center;
		border-radius: 10px;

    font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
    font-size: 20px;
/*    text-transform: lowercase;*/
}

#sleep-input-section{

	text-align: center;
	padding-top: 25px;
}

#analyzeSleep-text{
  	padding-top: 75px;
  	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
    font-size: 35px;
    color: white;
    /*text-transform: lowercase;*/

}

#fitbitLogo{

	width:200px;
}


/*Sleep Results*/
#sleep-table{
	box-sizing: border-box;
	display: block;
	display: table;
	content: " ";
	clear: both;

	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 12px 48px 12px;
/*	padding-bottom: 48px;*/

}

#column1{
	margin-left: 0;
	width: 18%;
	margin: 0 12px 0 0;
	float: left;
	box-sizing: border-box;
	display: block;

}

#column2{
	width: 18%;
	margin: 0 12px;
	float: left;
	box-sizing: border-box;
	display: block;
}

#column3{
	margin-right: 0;
	width: 18%;
	margin: 0 0 0 12px;
	float: left;
	box-sizing: border-box;
	display: block;
}

#column4{
	margin-right: 0;
	width: 18%;
	margin: 0 0 0 12px;
	float: left;
	box-sizing: border-box;
	display: block;
}
#column5{
	margin-right: 0;
	width: 18%;
	margin: 0 0 0 12px;
	float: left;
	box-sizing: border-box;
	display: block;
}


.sleepResult-headers{
	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;

}

.sleep-results{

	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 18px;
}


/*Sleep Graph - source: https://codepen.io/jedtrow/pen/YPrqKY?q=bar+graph&limit=all&type=type-pens*/

.graph-cont{

/*  content: '';*/
  /*background: #2ecc71;*/
/*  height: 30px;*/
  transition: 0.7s;
/*  display: block;*/
/*  width: 100%;*/
  -webkit-animation: bar-before 1 1.8s;
/*  position: absolute;*/
/*  top: 0;
  left: 0;*/


}

.day-graph {
	display: flex;
	flex-direction: row;
}

.bar{

	display: flex;
	justify-content: flex-start;
	height: 30px;
	max-width: 800px;
	margin-top: 10px;
	line-height: 30px;
	font-size: 16px;
	color: white;
	padding: 0 0 0 10px;

	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
}

.bar4 {
	margin-bottom: 35px;
}

.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  /*background: #2ecc71;*/
  height: 100%;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

.sleepDateDuration{

	color: white;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
    font-size: 20px;

}


/*.bar1::after{
  max-width: 0%;
  background: #f43c6e;
}
.bar2::after{
  max-width: 0%;
  background: #7ec4ff;
}
.bar3::after{
  max-width: 0%;
  background: #408dff;
}
.bar4::after{
  max-width: 0%;
  background: #154aa6;
}*/

#sleep-graph-title{
	padding-top: 50px;
	font-family: "futura-pt-bold", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;;
	clear: both;
	text-align: center;

}
